@media only screen and (max-width: 450px) {
	/*icons fixed strat*/
	.fix_icons {
		top: 340px;
		right: 0px;
	}

	.icons1:nth-child(1),.icons1:nth-child(2) {
		display: none;
	}

	.icons4 {
		top: 5px;
	}

	.icons5 {
		top: 58px;
	}

	.icons6 {
		top: 113px;
	}

	/*icos fixed close*/
	header {
		height: 600px;
	}

	nav {
		background: #173e62;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo img {
		width: 60px;
		height: 70px;
		padding: 20px;
	}

	.bars {
		font-size: 30px;
		margin-left: 190px;
		display: block;
		color: white;
	}

	.media_nav {
		display: block;
	}

	.bars:hover ~.media_nav {
		top: 0px;
		left: 0px;
	}

	.mainu_bar ul {
		display: none;
	}

	.header_text {
		width: 95%;
		top: 160px;
		left: 5px;
		text-align: center;
		margin: auto;
	}

	.header_c1 {
		display: none;
	}

	.header_c2 {
		width: 100%;
	}

	.header_c2 p {
		font-size: 13px;
		font-weight: 500;
	}

	.header_c2 h1 {
		font-size: 25px;
		margin-top: 10px;
		text-align: left;
	}

	.header_c2 button {
		font-size: 16px;
		text-align: left;
	}

	.header_c2 h4 {
		font-size: 12px;
	}

	.phone_icons {
		margin-top: 20px;
	}

	.phone_icon {
		width: 45px;
		height: 45px;
	}

	.phone_icon i {
		font-size: 23px;
		line-height: 45px;
	}

	.row1_c {
		margin: 20px auto;
		flex-direction: column;
	}

	.row1_c1 {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	.row1_c1 h1 {
		font-size: 30px;
	}

	.row1_c2 {
		width: 100%;
		flex-direction: column;
		box-sizing: border-box;
	}

	.row1_c2_c1 {
		width: 70%;
		margin: auto;
	}

	.row1_c2_c1 span {
		font-size: 50px;
	}

	.row1_c2_c2 {
		width: 70%;
		margin: 20px auto;
		text-align: center;
	}

	.row1_c2_c2 span {
		font-size: 50px;
		
	}

	.about_sec {
		height: 1450px;
	}

	.about_sec_c1 {
		width: 100%;
		height: 100%;
		top: 200px;
		left: 0px;
	}

	.about_text {
		width: 100%;
		width: 100%;
		border: 0.1px solid red;
		margin-left: 0px;
		padding: 10px 20px;
	}

	.about_text h1 {
		font-size: 25px;
	}

	.about_sec_c2 {
		width: 80%;
		height: 180px;
		top: 10px;
		left: 30px;
	}

	.Quick_Facts {
		margin-top: 200px;
	}

	.Quick_Facts h1 {
		margin: 40px 0px;
	}

	.quick_contant {
		flex-direction: column;
	}

	.quick_img {
		width: 100%;
	}

	.Our_Offering {
		padding: 10px;
	}

	.Our_row1 {
		/*flex-direction: column;*/
		flex-wrap: wrap;
		text-align: center;
	}

	.Our_row1 h1 {
		flex-basis: 100%;
		padding-top: 20px;
	}

	.Our_row1 h5 {
		flex-basis: 100%;
		line-height: 23px;
	}

	.Our_row2_c {
		flex-basis: 100%;
	}

	.Our_row2_img {
		height: 300px;
	}

	.Our_row2_text {
		padding: 25px;
	}

	.Our_row2_text h2 {
		font-size: 18px;
	}

	.Our_row2_text  span {
		margin-left: 20px;
	}

	.Project h1 {
		padding: 0px;
		font-size: 25px;
	}

	.project_img {
		flex-basis: 100%;
	}

	.living_row2 {
		background-size: cover;
		background-position: 0px;
	}

	.living_img {
		flex-basis: 90%;
		height: 200px;
	}

	.living_text {
		flex-basis: 100%;
		margin-left: 0px;
		padding: 15px;
	}

	.Video_sec_text {
		flex-basis: 100%;
		padding: 30px 20px;
	}

	.Video_sec_text h1 {
		font-size: 25px;
	}

	.Video_sec_text h2 {
		font-size: 23px;
		font-weight: normal;
	}

	.video_item {
		flex-basis: 100%;
		height: 400px;
	}

	.Goal_Oriented {
		padding: 40px 20px;
	}

	.Goal_Oriented h1 {
		padding: 10px;
		font-size: 30px;
	}

	.Goal_Oriented p {
		padding: 40px 0px;
	}

	.Goal_Oriented_img {
		width: 100%;
		flex-wrap: wrap;
	}

	.Goal_Oriented_img1 {
		flex-basis: 100%;
	}

	.Goal_Oriented_img1 p {
		padding: 15px 68px;
		line-height: 20px;
	}

	.Success_Story {
		background-size: cover;
		background-position: 0px;
		padding: 30px 0px;
	}

	.Success_Story_img {
		flex-basis: 85%;
		height: 200px;
		margin: 40px auto;
	}

	.Success_Story_contant {
		flex-basis: 95%;
		padding: 20px;
	}

	.Success_Story_row3_c {
		flex-basis: 100%;
		padding: 20px 0px;
	}

	.Advantages_row1 {
		width: 100%;
		box-sizing: border-box;
		flex-wrap: wrap;
	}

	.Advantages_row1_c {
		flex-basis: 100%;
	}

	.Advantages_row1_c h1 {
		padding: 32px;
		font-size: 35px;
	}

	.Advantages_contant {
		width: 95%;
	}

	.Advantages_contant p {
		padding: 20px 30px;
	}

	.Advantages_sec button {
		padding: 18px 40px;
		margin: 50px 0px;
		font-size: 15px;
		font-weight: 500;
	}

	.footer_main {
		width: 90%;
	}

	.footer_main h1 {
		font-size: 35px;
	}

	.footer_row1_c {
		flex-basis: 100%;
		padding: 40px 0px;
	}

	.footer_row1_c a {
		font-size: 16px;
	}

	.footer_icon a i {
		margin-left: 23px;
	}

	.footer_row2_c {
		flex-basis: 100%;
		padding: 15px;
	}

	.footer_row2_c p {
		padding: 25px 0px;
	}

	.footer_row2_c:nth-child(3) {
		margin-left: 0px;
	}

	.footer_bottom ul {
		justify-content: flex-start;
	}

	.footer_bottom ul li {
		flex-basis: 50%;
		padding-right: 10px;
	}

	.up_icon1 {
		display: none;
	}

	.media_fixed {
		width: 100%;
		list-style: none;
		background: #173e62;
		position: fixed;
		left: 0px;
		bottom: 0px;
		display: flex;
	}

	.media_fixed li {
		color: white;
		padding: 8px 23px;
		border-right: 1px solid white;
	}

	.media_fixed li:nth-child(3) {
		border-right: none;
	}

	
}